body, html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
}

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height:1.2em;  /*spacing between lines*/
}

/* to prevent scrolling on images, videos and other in main css: */
img, embed, object, video {
    max-width: 100%;
}

.header-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}

.header-logo {
    margin: auto;
    width: 25%;
}

.header-spacer {
    width: 5%;
}
.header-title {
    margin: auto;
    width: 70%;
    text-align: center;
}

.main-intro {
    width: 100%;
    height: 160px;
    background-image:url('../img/background-rawpixel-558599-unsplash.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:right;
    position: relative;
}

.main-intro h4 {
    margin-top: 0;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 10%;
}

.main-projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main-project-item {
    width: 100%;
}

.main-project-item h3 {
    margin: 5px auto 5px 10%;
}

.main-project-item a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 5px auto 15px 10%;
}

.text-link:hover{
    cursor: pointer;
}

.credits {
    background-color:black;
    color:white;
    text-decoration:none;
    padding: 4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    border-radius: 3px;
}

.credits-svg {
    height: 12px;
    width: auto;
    position: relative;
    vertical-align: middle;
    top: -1px;
    fill: white;
}

.credits-span {
    display: inline-block;
    padding: 2px 3px;
}

.credits-thanks {
    font-size: smaller;
}

.footer-container {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

.footer-content {
    width: 100%;
}

@media screen and (min-width: 600px) {
    
    .header-logo {
        margin: auto 20px;
        width: 120px;
    }
    
    .header-spacer {
        width: 1%;
    }

    .main-project-item {
        width: 33.333%;
        flex: 1 1 150px;
        margin: 10px;
    }

    .main-project-item h3, .main-project-item a  {
        margin: 5px auto 5px 1%;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: 20px;
        width: 800px;
        margin: auto auto;
    }
}